<!DOCTYPE html>
<html>
<head>
 <title>Flower App</title>
 <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">

 <!-- import font-awesome library to create icon buttons -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
</head>
<body>
    <div class="hero-image">


        <div class="hero-text">
            <h3>Upload a picture of a flower to see what species it is! </h3>
            <form method ='post' enctype=multipart/form-data>
                <input type="file" name="file">
                <input type="submit" value="Upload"><ul class="actions">

        </div>
    </div>
</body>
</html>